@model ProductVM
@{
    ViewBag.Title = "UpdateProduct";
}

<h2>AddProduct</h2>

@using (Html.BeginForm())
{
@Html.HiddenFor(x => x.Product.ProductID)
<div>
    @Html.TextBoxFor(x => x.Product.ProductName, new {@class = "form-control" })
</div>
<div>
    @Html.TextBoxFor(x => x.Product.UnitPrice, new {@class = "form-control" })
</div>
<div>
    @Html.DropDownListFor(x => x.Product.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName"), "Lütfen seçiniz", new { @class = "form-control" })
</div>
<div>
    <button class="btn btn-primary">
        Güncelle
    </button>
</div>
}
